.main-content__header--button {
    border: 1px solid #ffffff;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 180px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__header { 
    position: sticky;
    top: 0;

}