/* Blocchi */
.container {
    display: flex;
    height: calc(var(--total-height) - var(--footer-height));
    background-color: var(--container-background-color);
}

/* BLOCCO SIDE */
.container__sidebar {
    padding-top: 15px;
    padding-bottom: 10px;
    width: var(--container-sidebar-width);
    background-color: var(--container-sidebar-background-color);

    display: flex;
    flex-direction: column;
    gap: 11px;
}

/* CONTENITORE DI HEADER E MAIN */
.container__main-content {
    display: flex;
    flex-direction: column;
    height: calc(var(--total-height) - var(--footer-height));
    width: calc(var(--total-percent-width) - var(--container-sidebar-width));
}

/* Blocco header "EFFETTUA UPGRADE" */
.main-content__header {
    height: var(--container-header-height);
    background-color: var(--container-content-header-background-color);
    display: flex;
    justify-content: end;
    align-items: center;
    


}

.main-content--container {
    /* TOLTO PX DI FOOTER E HEADER */
    height: calc(var(--total-height) - var(--container-header-height) - var(--footer-height));
    background-color: var(--container-content-main-background-color);
}

.footer {
    height: var(--footer-height);
    background-color: var(--container-footer-background-color);
    z-index: 1;
    position: relative;
}


