/* Blocchi */
.container {
    display: flex;
    height: calc(var(--total-height) - var(--footer-height));
}

/* BLOCCO SIDE */
.container__sidebar {
    width: var(--container-sidebar-width);
}

/* CONTENITORE DI HEADER E MAIN */
.container__main-content {
    display: flex;
    flex-direction: column;
    height: calc(var(--total-height) - var(--footer-height));
    width: calc(var(--total-percent-width) - var(--container-sidebar-width));
}

/* Blocco header "EFFETTUA UPGRADE" */
.main-content__header {
    height: var(--container-header-height);
}

.main-content__main {
    /* TOLTO PX DI FOOTER E HEADER */
    height: calc(var(--total-height) - var(--container-header-height) - var(--footer-height));
}

.footer {
    height: var(--footer-height);
}
