.container__main-content * {
    color: white;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    
}

.container__main-content {
    overflow: auto;
}

.main-content__highlights {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

body > div > div.container__main-content > div > div.main-content__highlights > ul > li:nth-child(1) > hr{
    width: 40%;
    margin: 0 auto;
    border-color: #72ac4b;
}

.main-content__highlights > .highlights__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0.8em;
}

.main-content__highlights > .highlights__list li{
    color: #918383;
}


.main-content__recently-played {
    padding-top: 10px;
    padding-left: 10px;
    font-size: small;
    padding-bottom: 15px;
}

.recently-played__title {
    font-weight: 550;
}

.main-content__recent-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.main-content__recent-item {
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.recently-played__paragraph{
    font-size: small;
    color: #918383;
}

.main-content--container {
}

.recent-item__image {
   
}

.recent-item__image img {
    width: 100%;
}

.recent-item__info {
   
}

.recent-item__title {
    font-weight: 550;
    font-size: medium;
}
    

.recent-item__author {
    font-size: small;
    color: #918383;
}


.container__sidebar--responsive{
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 100%;
    color: grey;
}

.container__sidebar--start{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container__sidebar--end {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fab.fa-spotify {
    font-size: x-large;
}

.fas.fa-home {
    font-size: large;
}

.fas.fa-search {
    font-size: large;
}

.fas.fa-book {
    font-size: large;
}

.fas.fa-download {
    font-size: xx-small;
}

.fas.fa-user {
    font-size: large;
}
