/* MISURE LAYOUT */
:root {
    --container-sidebar-width: 200px;
    --container-header-height: 60px;
    --footer-height: 80px;
    --total-height: 100vh;
    --total-percent-width: 100%;
}

/* BACKGROUND COLOR LAYOUT */
:root {
    --container-background-color: #141922;
    --container-sidebar-background-color: #000000;
    --container-content-header-background-color: rgb(0, 0, 0);
    --container-content-main-background-color: #141922;
    --container-footer-background-color: #313131;
}

