/* Paragrafo */
/* * {
    color: white;
} */

/* palline UL rimosse */
ul {
  list-style-type: none;
}

/* p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }
   */
  /* Div */
/* div {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }
   */
  /* h1 */
/* h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
  }
  
 */
